
<%- include('../partials/header') %>

  <div class="starter-template">
    <h1>Noticias Publicas</h1>
      <table class="table table-bordered">
        <% noticias.forEach(noticia =>{ %>
        
          <tr>
            <td><%= noticia.title %></td>
          </tr>

        <% }) %>      
      </table>   
  </div>

<%- include('../partials/footer') %>